@charset "UTF-8";

@font-face {
    font-family: petit;
    src: url(fontes/PetitFormalScript-Regular.ttf);
}

@font-face {
    font-family: alexbrush;
    src: url(fontes/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: whisper;
    src: url(fontes/Whisper-Regular.ttf);
}

@font-face {
    font-family: querias;
    src: url(fontes/Questrial-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    font-family: querias, sans-serif;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    background-color: brown;

}

header p {
    margin-left: 20px;
    font-family: querias, sans-serif;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

header li {
    font-family: querias, sans-serif;
    color: white;
}

div#cabeçalho {
    display: flex;
    background-image: url(imagens/rest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    background-color: grey;
    height: 100vh;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.651);
    justify-content: center;
    align-items: center;

}

h1#nome {
    color: white;
    font-family: petit;
    font-size: 6em;
    text-transform: capitalize;
}

img {
    display: block;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.521);

}

main {
    background-color: brown;
    padding-bottom: 80px;
    padding-top: 50px;
}

main>h2 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.356);
    font-size: 6em;
    padding: 40px;
    font-family: whisper;
}

div#bg {
    border-radius: 20px;
    background-color: rgb(224, 157, 157);
    width: 700px;
    margin: auto;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.459);
}

div#p {
    margin: auto;
    width: 600px;
    padding: 15px;


}

div#p>p {
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    color: black;
    font-size: 2.4em;
    font-family: whisper;
}

section#main2 {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.541);

}

h2#tit2 {
    font-size: 2.8em;
    text-align: center;
    padding-top: 40px;
    font-variant: small-caps;

}

input {
    display: block;
    margin: auto;
    height: 70px;
    width: 200px;
    background-color: brown;
    color: white;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    font-weight: bolder;
    cursor: pointer;


}

input:hover {

    background-color: rgb(155, 103, 103);
}

form {
    padding-bottom: 20px;
}

div.foto {
    padding-bottom: 50px;
    margin: auto;

}

img.comida {
    border-radius: 10px;
    padding-top: 0px;
    margin: auto;

}

section#pratos {
    margin-top: 60px;
}

p.bruno {
    margin: auto;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    padding: 10px;
}

div.desc {
    width: 300px;
    margin: auto;
}

p.desc {
    text-align: center;
}