@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

* {

    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

html {
    background-color: #d6d5cb;
    color: #818173;
    scrollbar-width: none;
    height: 100vh;
    font-family: Raleway, sans-serif;
}

/* CONFIGURAÇÕES HEADER */
header {
    margin-top: 0.7rem;
    margin-left: 5rem;
    margin-right: 10rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    font-size: 1.6rem;

}

.navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

/* CONFIGURÇÕES SEÇÃO DESTAQUE*/
main {
    margin-top: 10rem;
}

section.destaque {
    padding: 4rem;
    background-color: #8c8b79;
    margin: auto;
    max-width: 70vw;
    border-radius: 1rem;
}

.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60rem;
    font-size: 1.6rem;


}

.img-destaque {
    display: flex;
    height: 70%;
    width: 50%;
    justify-content: center;
    align-items: center;


}

.imagem-destaque {
    height: 100%;
    width: 90%;
    max-width: 31.3rem;
    border-radius: 1rem;
}

.texto-destaque {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

#titulo-destaque {
    color: white;
    display: flex;
    align-items: center;
    height: 30%;
}

#p-destaque {
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    height: 70%;
}

.preço-destaque {
    font-size: 8rem;
    color: white;
    display: flex;

    height: 70%;
}

.btn-destaque {
    cursor: pointer;
    height: 10rem;
    width: 15rem;
    border: none;
    outline: none;
    background-color: #bfbdb0;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    font-family: Raleway, sans-serif;
}

.btn-destaque:hover {
    background-color: #cfcbbf;
}

/* CONFIGURAÇÕES SEÇÃO SOBRE NÓS */

section#sobre-nos {
    display: flex;
    align-items: center;

    height: 55rem;
    font-size: 1.6rem;
}

.sobre-nos {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;

}

.texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 70%;

}

.img-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

/* CONFIGURAÇÕES SECTION PRODUTOS */

section.produtos {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;

    height: 50rem;
}

.titulo-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;

}

div.produtos {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.produto {
    display: flex;
    justify-content: center;
    align-items: center;

}




/* CONFIGURAÇÕES FOOTER*/
footer {
    display: flex;
    font-size: 1.6rem;
    height: 5em;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    /* SEÇÃO DESTAQUE */
    .destaque {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 80rem;
        font-size: 1.6rem;


    }

    .img-destaque {
        display: flex;
        height: 60%;
        width: 50%;
        justify-content: center;
        align-items: center;


    }
    .imagem-destaque{
        min-width: 23rem;
        max-height: 36rem;
    }

    .texto-destaque {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 50%;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }
    .p-destaque{
        display: none;
    }

    .preço-destaque{
        font-size: 5rem;
    }

    /* SEÇÃO SOBRE NÓS */


    .sobre-nos {
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: center;

    }

    .texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: 60%;

    }

    .img-sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }

    /* CONFIGURAÇÕES SECTION PRODUTOS */

    section.produtos {
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;

        height: 150rem;
    }

    .titulo-produtos {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;

    }

    div.produtos {
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    .produto {
        height: 16.7%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #img-produto {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .texto-produt {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }



}