* {

    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

html {
    background-color: #8c8b79;
    color: rgb(238, 233, 218);
    scrollbar-width: none;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CONFIGURAÇÕES HEADER */
header {
    margin-top: 0.7rem;
    margin-right: 10rem;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
    font-size: 1.6rem;

}

.navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

/* CONFIGURÇÕES SEÇÃO DESTAQUE*/
main {
    margin: auto;
    max-width: 70vw;
}

.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60rem;
    font-size: 1.6rem;


}

.img-destaque {
    display: flex;
    height: 70%;
    width: 50%;
    justify-content: center;
    align-items: center;


}

.texto-destaque {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

#titulo-destaque {
    display: flex;
    align-items: center;
    height: 30%;
}

#p-destaque {
    display: flex;
    align-items: start;
    height: 70%;
}

/* CONFIGURAÇÕES SEÇÃO SOBRE NÓS */

section#sobre-nos {
    display: flex;
    align-items: center;

    height: 55rem;
    font-size: 1.6rem;
}

.sobre-nos {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;

}

.texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 70%;

}

.img-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

/* CONFIGURAÇÕES SECTION PRODUTOS */

section.produtos {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;

    height: 50rem;
}

.titulo-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;

}

div.produtos {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.produto {
    display: flex;
    justify-content: center;
    align-items: center;

}




/* CONFIGURAÇÕES FOOTER*/
footer {
    display: flex;
    font-size: 1.6rem;
    height: 5em;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    /* SEÇÃO DESTAQUE */
    .destaque {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 60rem;
        font-size: 1.6rem;


    }

    .img-destaque {
        display: flex;
        height: 60%;
        width: 50%;
        justify-content: center;
        align-items: center;


    }

    .texto-destaque {
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 50%;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

    /* SEÇÃO SOBRE NÓS */


    .sobre-nos {
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: center;

    }

    .texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: 60%;

    }

    .img-sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }

    /* CONFIGURAÇÕES SECTION PRODUTOS */

    section.produtos {
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;

        height: 150rem;
    }

    .titulo-produtos {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;

    }

    div.produtos {
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    .produto {
        height: 16.7%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #img-produto {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .texto-produt {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }



}