@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
html{
    height: 100vh;
    background-color: lightgray;
}
header{
    background-color: grey;
}
header h1{
    padding: 10px;
    text-align: center;
}
nav{
    display: none;
}
nav > ul{
    list-style-type: none;
} 
nav > ul > li > a {
    display: block;
    padding: 10px;
    background-color: rgb(83, 83, 83);
    text-decoration: none;
    color: white;
    text-align: center;
    border-top: 2px solid rgb(136, 136, 136);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);

}
nav > ul > li > a:hover{
    background-color: rgb(126, 124, 124);
    cursor: pointer;
}
main{
    background-color: white;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
main > article > h2{
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
}
main > article > p{

    font-size: 1em;
    line-height: 1.3em;
    text-indent: 20px ;

}
#burguer{
    background-color: rgb(32, 32, 32);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
#burguer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}